<div class="container">
  <h2 style="color: tomato;">Cuisine Management</h2>
  <div class="row">
    <div class="col-md-6">
      <h4 style="color: #008000;">Add New Cuisine</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="newCategoryName" placeholder="Enter cuisine name">
        <button class="btn btn-success" type="button" (click)="addCategory(newCategoryName)">
          <i class="material-icons">add</i> Add
        </button>
      </div>
    </div>
  </div>
  <hr style="border-color: #008000;">
  <h4 style="color: #008000;">Cuisine List</h4>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Cuisine Name</th>
          <th class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td class="text-end">
            <button class="btn btn-primary btn-sm" (click)="manageFoodItems(category.categoryId)">
              <i class="material-icons">restaurant_menu</i> Manage Food Items
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteCategory(category.categoryId)">
              <i class="material-icons">delete</i> Delete
            </button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>